<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="top.easelink.lcg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="22" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="22" />

    <dist:module dist:instant="true"/>

    <application
            android:allowBackup="false"
            android:icon="@drawable/ic_logo_24dp"
            android:label="@string/app_name"
            android:name=".LCGApp"
            android:roundIcon="@drawable/ic_logo_24dp"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.main.view.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.webview.ui.WebViewActivity"
                  android:launchMode="standard"
                  android:exported="true"
                  android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                        android:host="ssl.ptlogin2.qq.com"
                        android:path="/jump"
                        android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>